@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #f97316; /* orange-500 */
  --color-primary-light: #fb923c; /* orange-400 */
  --color-primary-dark: #ea580c; /* orange-600 */

  --color-accent: #3b82f6; /* blue-500 */
  --color-accent-dark: #2563eb; /* blue-600 */

  --color-success: #22c55e; /* green-500 */
  --color-warning: #eab308; /* yellow-500 */
  --color-error: #ef4444; /* red-500 */

  --color-neutral-light: #f9fafb; /* gray-50 */
  --color-neutral: #6b7280; /* gray-500 */
  --color-neutral-dark: #111827; /* gray-900 */
}

/* Test Color */
._ {
  color: #f97316; /* اللون الأساسي */
  color: #fb923c; /* Hover */
  color: #ea580c; /* Active */

  color: #3b82f6; /* للروابط او اي شئ ثانوي */
  color: #2563eb; /* للمعلومات */

  color: #22c55e; /* نجاح */
  color: #eab308; /* تحذير */
  color: #ef4444; /* خطأ */

  color: #f9fafb; /* خلفيه */
  color: #6b7280; /* للنصوص الخفيفه */
  color: #111827; /* للنصوص الثقيله */
}

/* ستايل الـ scrollbar لكل العناصر */
* {
  scrollbar-width: thin; /* للفايرفوكس */
  scrollbar-color: var(--color-primary) var(--color-neutral-dark);
}

.dark {
  scrollbar-color: var(--color-primary) var(--color-neutral-light);
}

/* لدعم المتصفحات browsers (Chrome, Edge, Safari) */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--color-neutral-light);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 10px;
  border: 2px solid var(--color-neutral-light);
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-dark);
}

*::-webkit-scrollbar-thumb:active {
  background: var(--color-primary-dark);
}

*::-webkit-scrollbar-corner {
  background: var(--color-neutral-light);
}

/* defult element style */
button {
  cursor: pointer;
}

